<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
	name="infantry_xacro">
<!--
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
 	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	name="infantry_xacro">
-->
        <xacro:include filename="$(find infantryb)/robots/infantryb.urdf" />
        <xacro:include filename="$(find infantryb)/robots/infantry.gazebo" />

<!-- Macro Transmissions for ROS Control -->
    <xacro:macro name="transmission_block" params="joint_name">
	  <transmission name="tran1">
	    <type>transmission_interface/SimpleTransmission</type>
	    <joint name="${joint_name}">
	      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	    </joint>
	    <actuator name="motor1">
	      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	      <mechanicalReduction>1</mechanicalReduction>
	    </actuator>
	  </transmission>
   </xacro:macro>
<!-- Transmissions for ROS Control -->
   <xacro:transmission_block joint_name="base_link_to_yaw_joint"/>
   <xacro:transmission_block joint_name="base_link_to_pitch_joint"/>

</robot>
